body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex: 1;
    max-width: 900px;
    border: solid;
    border-width: 1px;
}

.container > * {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container > * :hover {
    background-color: #555555;
    transition-duration: 0.4s;
}

.container > * > * {
    flex-shrink: 1;
    flex-basis: 100%;
}
